<div id="indexContainer" class="container-fluid d-flex justify-content-center align-items-center h-100">
    <form action="/Home/SearchResults" id="searchForm">
        <div class="form-group h-100">
            <label for="dishname"><i>It's time to find your new favorite dish</i></label><br />
            <input type="text" name="DishName" id="dishName" placeholder="Recipe Name" class="form-control-lg m-md-2" /><br />
            <label for="ingredients">Including:</label><br />
            <input type="text" name="Ingredients" id="ingredients" placeholder="Ingredient 1, Ingredient 2..." class="form-control-lg m-md-2" /><br />
            <label for="Excludedingredients">Excluding:</label><br />
            <input type="text" name="ExcludedIngredients" id="Excludedingredients" placeholder="Ingredient 1, Ingredient 2..." class="form-control-lg m-md-2" /><br />
            <input type="hidden" name="Page" value="1" />
            <input type="checkbox" name="OnlyImages" value="true" />
            <label for="OnlyImages">Only show recipes with images</label><br /><br />
            <div style="text-align: center;"><input type="submit" value="Let's Eat!" class="btn-success btn" /></div>
        </div>
    </form>
</div>
